%p
  Fruits are a rare combination of taste and nutrition. Fruits Store introduces customers to a whole 
  new “Shopping Experience” to buy Fresh Fruits. With a click of the mouse you can order your favorite 
  fruits through our online fruit shop. We pack it close to nature and deliver it to your Home. Customers 
  on the move can also order Fresh Fruits by calling our customer care number +38 096 585 66 45.

  The management team of Fruits Store has over a decade of experience in coordinating and integrating 
  worldwide team of growers, packers, processors, shippers towards committed arrangement for providing 
  consistently safe and high-quality fresh fruits. The Online Fruit Shop will be the online retail store 
  that will evade the existing unorganized supply chain and deliver fruits to your home, fresh from the farm.