.col-md-8
  %form{action: '/payment', method: 'POST'}
    .form-group
      %label{for: 'card_number'} Card Number:
      %input.form-control{type: 'text', name: 'payment[card_number]'}
    .form-group
      %label{for: 'cvv2'} CVV2
      %input.form-control{type: 'text', name: 'payment[cvv2]'}
    .form-group
      %label{for: 'expiration_date'} Expiration Date:
      %select{name: 'payment[month]'}
        - 1.upto(12) do |a|
          %option{value: a}= a
      %select{name: 'payment[year]'}
        - 2015.upto(2020) do |a|
          %option{value: a}= a
